<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/notfound.css">
        <title>minecraft</title>
    </head>
    <body>
        <div>
            <p class="one" >not found...</p>
        </div>
        <div  class="two">
            <p>we either do not have what you are looking for or you made a mistake when typeing...</p>
            <p>make sure when you type the movie or series that you are looking for, that you have no spaces and that they are a all lowercase...</p>
            <p>for example if you wanna watch That 70s show, you would have to type "that70sshow"</p>
        </div>
        <a href="{{url_for('pages.main')}}" class="main"><button class="dos">click here to return to main page</button></a>
    </body>
</html>