<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/victim.css">
        <title>Free Palestine</title>
        <link rel="shortcut icon" href="/static/fg.png">
    </head>
    <header>
        <div class="lo">From The River to the Sea, Palestine will be Free</div>
        <link rel="stylesheet" href="/static/styles/style.css">
        <div class="g">       
             <a  class="d" href="/">Home</a> 

             <a class="d" href="/GDT"> Gaza Death Toll</a>

            <a class="d" href=""> Crime Against Humanity</a>
    
            <a class="d" href=""> History</a>
    
            <a 
            class="d" >What you can do</a> 
        </div> 

    </header>
    <body>
        <div >
            <section class="video-section">
                <article class="video-container">
                    <div class="img__wrap"  >
                        <img class="img__img" src="/static/styles/victims/2.jpg" />
                        <p class="img__description" >Fatima Hassouna<a href="/GDT/1" class="img__rip">1999-2025</a></p>
                    </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description"> Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
                <article class="video-container">
                    <div class="img__wrap">
                        <img class="img__img" src="/static/styles/victims/1.jpg" />
                        <p class="img__description">Uknown<a class="img__rip">0000-0000</a></p>
                      </div>
                </article>
            </section>
        </div>
    </body>
</html>